[submodule "Dump"]
	path = Dump
	url = Dump
	branch = master
[submodule "CSV"]
	path = CSV
	url = CSV 
	branch = master
[submodule "Numpy"]
	path = Numpy
	url = Numpy 
	branch = master
[submodule "latent"]
	path = latent
	url = latent 
	branch = develop
[submodule "legend"]
	path = legend
	url = legend 
	branch = release
[submodule "MNF"]
	path = MNF
	url = MNF 
	branch = main
