# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development environment
venv/
.idea/

# Compiled Python files
*.pyc
*.pyo

# Python distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# Miscellaneous
*.swp
.DS_Store
model/test.py

# Data
**/*.mnf
**/*.dump
**/*.csv
**/*.npy
**/*.ckpt
**/*.ckpt.*
**/checkpoint
**/*.h5

results/*/*.png
results/*/*.pdf

# Symlinks
CSV
Numpy
latent
MNF
Dump

# Include
!results/*/performance.csv
